@inherits LayoutComponentBase

<NavMenu Title="Bebruber.Driver">
    <NavbarElements>
        <li class="nav-item">
            <a class="nav-link" href="#">Some link</a>
        </li>
    </NavbarElements>
</NavMenu>

<Container Fluid="true" Padding="Padding.Is3">
    @Body
</Container>