@inherits LayoutComponentBase

<NavMenu Title="Bebruber.Driver">
    <NavbarElements>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
    </NavbarElements>
</NavMenu>

<div class="container-md">
    @Body
</div>