@page "/"

<div class="row">
    <div class="col-md-8">
        <Map Height="550px" NeedGetMarkerAddress="true" OnMarkerAdded="async (marker) => {await OnMarkerAddedAsync(marker);}" AddMarkerOnClick="CanAddMarker"></Map>
    </div>
    <div class="col-md-4">
        <div id="order-block">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action" @onclick="@EnableStartPointSelection">
                    Точка отправления: @_startPointMarker?.Coordinates.ToString()
                </button>
                <button type="button" class="list-group-item list-group-item-action" @onclick="@EnableEndPointSelection">
                    Точка назначения: @_endPointMarker?.Coordinates.ToString()
                </button>
                @if (_extraPointsMarkers.Any())
                {
                    <li class="list-group-item">Дополнительные точки:</li>
                }
                @for (var pointNumber = 0; pointNumber<_extraPointsMarkers.Count; pointNumber++)
                {
                    var pointNumberForClick = pointNumber;
                    <button type="button" class="list-group-item list-group-item-action" @onclick="async () => await RemoveExtraPointAsync(pointNumberForClick)">
                        @(_extraPointsMarkers[pointNumber].Address ?? _extraPointsMarkers[pointNumber].Coordinates.ToString())
                    </button>
                }
                <button type="button" class="list-group-item list-group-item-action" @onclick="@EnableExtraPointSelection">
                    Добавить промежуточную точку <i class="bi bi-plus-circle"></i>
                </button>
            </div>
        </div>
    </div>
</div>