@inherits LayoutComponentBase

<NavMenu Title="Bebruber.User">
    <NavbarElements>
        <li class="nav-item">
            <a class="nav-link" href="#">Another link</a>
        </li>
    </NavbarElements>
</NavMenu>


<Container Fluid="true" Padding="Padding.Is3">
    @Body
</Container>